@import "../../node_modules/modern-normalize/modern-normalize.css";

:root {
  --color-primary: #ffebeb;
  --color-secondary: #f5b6b6;
  --color-hover: #f5c6c6;
  --color-text: #000000;
  --font: "Comic Sans MS", cursive, sans-serif;
  --font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #521515;
    --color-secondary: #6b3d31;
    --color-hover: #54482f;
    --color-text: #ffffff;
  }
}

%full-height {
  min-height: 100vh;
}

html {
  @extend %full-height;
}

body {
  @extend %full-height;
  background-color: var(--color-primary);
  color: var(--color-text);
}

main {
  @extend %full-height;
}

@keyframes flash-border {
  0% {
    outline-width: 0.2rem;
  }
  100% {
    outline-width: 0rem;
  }
}

%input-focus {
  outline: var(--color-text) solid 0;
  outline-offset: -0.01rem;
  animation: flash-border 0.3s ease-in 0s 1 normal,
    flash-border 1.2s linear 0.5s infinite alternate-reverse;
}

input:not([type]),
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
  background: var(--color-secondary);
  color: var(--color-text);
  border: 0.07rem solid var(--color-text);
  border-radius: 0.1rem;
  padding: 0.4rem 0.6rem;

  &:hover {
    background-color: var(--color-hover);
  }

  &:focus {
    @extend %input-focus;
  }
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: var(--color-secondary);
  color: var(--color-text);
  border: 0.07rem solid var(--color-text);
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 0.5rem 1rem;

  &:hover {
    background: var(--color-hover);
  }

  &:focus {
    @extend %input-focus;
  }
}

// TODO: checkbox, color, file, image, radio, range
