@import "../../node_modules/modern-normalize/modern-normalize.css";

:root {
  --color-primary: #ffebeb;
  --color-secondary: #f5b6b6;
  --color-hover: #f5c6c6;
  --color-text: #000000;
  --font: "Comic Sans MS", cursive, sans-serif;
  --font-size: medium;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #270000;
    --color-secondary: #774141;
    --color-hover: #a66a6a;
    --color-text: #ffffff;
  }
}

%full-height {
  min-height: 100vh;
}

html {
  @extend %full-height;
}

body {
  @extend %full-height;
  background-color: var(--color-primary);
  color: var(--color-text);
}

main {
  @extend %full-height;
}
