@use "../../routes/index.scss";

%trans {
  transition-property: opacity, top, left;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.dialog {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  padding: 0;

  &::backdrop {
    @extend %trans;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0;
  }

  &.open:not(.fadeOut)::backdrop {
    opacity: 1;
  }
}

%btnTrans {
  @extend %trans;
  position: fixed;
}

button.hubButton {
  @extend %btnTrans;
  z-index: 10;
}

%btn {
  @extend %btnTrans;
  left: var(--hub-button-x);
  top: var(--hub-button-y);
  opacity: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: flex;
  $size: 4rem;
  width: $size;
  height: $size;

  > span {
    margin: auto;
  }
}

.createPost {
  @extend %btn;
}

$midLeft: 50svw;
$midTop: 50svh;

.dialog.open:not(.fadeOut) {
  .hubButton {
    left: $midLeft;
    top: $midTop;
  }

  .createPost {
    opacity: 1;
    left: $midLeft;
    top: calc(#{$midTop} + 6rem);
  }
}

%navControl {
  @extend %trans;
  position: fixed;
  opacity: 0;
  z-index: 1;

  &:hover {
    text-decoration: none;

    .inner {
      text-decoration: underline;
    }
  }
}

.dialog.open:not(.fadeOut) {
  %navControl {
    opacity: 1;
  }
}

.navRegister {
  @extend %navControl;
  @extend %button;
  top: 2rem;
  right: 2rem;
}

.navLogin {
  @extend %navControl;
  @extend %button;
  top: 5rem;
  right: 2rem;
}
