@use "../../routes/index.scss";

@keyframes fade-in-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

%fade-in {
  animation: fade-in-out var(--animation-duration) ease-in-out;
}

%fade-out {
  animation: fade-in-out var(--animation-duration) ease-in-out reverse;
}

.dialog {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  padding: 0;

  --animation-duration: 0.2s;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity var(--animation-duration) ease-in-out;
  }

  &.fadeIn::backdrop {
    @extend %fade-in;
  }

  &[open]:not(.fadeOut)::backdrop {
    opacity: 1;
  }

  &.fadeOut::backdrop {
    @extend %fade-out;
  }
}

%navControl {
  position: fixed;
  opacity: 0;
  transition: opacity var(--animation-duration) ease-in-out;

  &:hover {
    text-decoration: none;

    .inner {
      text-decoration: underline;
    }
  }
}

.fadeIn {
  %navControl {
    @extend %fade-in;
  }
}

.dialog[open]:not(.fadeOut) {
  %navControl {
    opacity: 1;
  }
}

.fadeOut {
  %navControl {
    @extend %fade-out;
  }
}

.navRegister {
  @extend %navControl;
  @extend %button;
  top: 2rem;
  right: 2rem;
}

.navLogin {
  @extend %navControl;
  @extend %button;
  top: 5rem;
  right: 2rem;
}
