.button {
  position: relative;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: all;
  user-select: none;
  padding: 0;

  $size: 4rem;
  width: $size;
  height: $size;

  left: var(--hub-button-x);
  top: var(--hub-button-y);

  --colour-text: var(--hub-outer-colour);

  --colour-hover: radial-gradient(
    var(--hub-inner-colour) 40%,
    var(--hub-outer-colour)
  );
  background: none;
  box-shadow: 0 0 0.7rem 0.05rem var(--hub-outer-colour);
}
