.hub {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  pointer-events: none;
  touch-action: none;
  z-index: 1000;

  &.visible {
    visibility: visible;
  }
}

.hidden {
  visibility: hidden;
}
