@use "~/common.scss";

%flexy {
  display: flex;
  gap: common.$gap;
  flex-direction: column;
}

.form {
  @extend %flexy;
  min-height: 100vh;

  > :first-child {
    margin-top: auto;
  }

  > :last-child {
    margin-bottom: auto;
  }

  form {
    @extend %flexy;
  }
}
